{% extends 'base.html' %} 

<div class="container text-center" >
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container text-center bg-warning" >
        
        <label>UserName : </label>
        <input name="username" /><br /><br />
        <label>Password : </label>
        <input name="password" type="password"/><br /><br />
        
        <button>Login</button>
        <a href="{% url 'register' %}">Register</a>
    </div>
    
</form>
    {% endblock %}
</div>
